{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/visualization">Visualization</a></li>
  <li class="active">{{title}}</li>
</ol>
    <div class="text-center col-md-6 col-md-offset-3 well" style="margin-top:20px; padding-top:20px;">
        Select an State from the United States.
        {% crispy form %}
    </div>
    <div id="graph_div" style="margin-top:50px; height: 40%;max-height:300px"></div>
    <!-- {{data}} -->
{% endblock %}

{% block js_extra %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
var myChart
$(function () {
    myChart = $('#graph_div').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 
            {% if not state %}'No state selected'
            {% else %}
            '{{title}}'
            {% endif %}
        },
        subtitle: {
            text: 
            {% if not state %}'Please select one or more states from the upper form'
            {% else %}
            '{{subtitle}}'
            {% endif %}
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month:"%B %Y"
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: '{{y_axis}}'
            },
            id:'my_y'
        },
        // tooltip: {
        //     headerFormat: '<b>{series.name}</b><br>',
        //     pointFormat: '{point.x:%B %Y}: {point.y:.2f} %'
        // },
        {% if data %}
        series: [
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            {% for element in data %}
                {% ifchanged element.state %}
                 {% if not forloop.first %} ]},{% endif %}
                 {name: '{{element.state__name}}', 
                 data: [[Date.UTC({{element.year}},{% if element.month %}{{element.month}}{% else %}1{% endif %},1),{{element.value}}]
                {% else %}
                  ,[Date.UTC({{element.year}},{% if element.month %}{{element.month}}{% else %}1{% endif %},1),{{element.value}}]
                {% endifchanged %}
            {% endfor %}
            {% if data %}
                ]}]
            {% endif%}
    
        {% endif %}
    });
     $(window).resize();
    // yAxis = myChart.highcharts().get('my_y');
    // var extremes =yAxis.getExtremes();  // {min:, max:, dataMin:, dataMax:}
    // yAxis.setExtremes(extremes.min, extremes.min.max);
});

    </script>
{% endblock %}