{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load dajaxice_templatetags %}
{% block content %}
    
    <div class="text-center col-md-6 col-md-offset-3 well" style="margin-top:20px; padding-top:20px;">
        You can filter the map using the following form! Pretty cool, right?.
        <br>
        {% crispy form %}
    </div>
    <div id="container" class="col-md-6 col-sm-4"></div>
    <div id="container2" class="col-md-6 col-sm-4"></div>

    <!-- {{data}} -->
{% endblock %}

{% block js_extra %}

{% dajaxice_js_import %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

<script type="text/javascript">

$(function () {
        var mapChart
        data = [
        {% for row in data %}
            {code:"{{row.state__code}}",value:"{{row.value|floatformat:2}}"},
        {% endfor %}
        ]
        console.log(data)
        // Make codes uppercase to match the map data
        $.each(data, function () {
            this.code = this.code.toUpperCase();
        });

        var showTimeSeries = function(input,state){
        	var converted_data = []
        	input = $.parseJSON(input)
        	for (var i=0; i<input.length;i++){
        		converted_data.push([Date.UTC(input[i].fields.year, input[i].fields.month, 1),input[i].fields.value])
        	}
        	//Start secondary highcharts
        	$('#container2').highcharts({
                chart: {
                    zoomType: 'x'
                },
                title: {
                    text: 'Unemployment in '+state
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                            'Click and drag in the plot area to zoom in' :
                            'Pinch the chart to zoom in'
                },
                xAxis: {
                    type: 'datetime',
                    minRange: 14 * 24 * 3600000 // fourteen days
                },
                yAxis: {
                    title: {
                        text: 'Unemployment in '+state
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                            stops: [
                                [0, Highcharts.getOptions().colors[0]],
                                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                            ]
                        },
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },

                series: [{
                    type: 'area',
                    name: state,
                    data: converted_data
                }]
            });
			//End highchart 2
        }
        var getStateData = function (state){
	        var stateData = {state_code:state};
	        $.ajax({
			    url: "http://unemployment-mining.com/visualization/unemployment/json",
			    data:$.getJSON(stateData),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
			    dataType: "json"
			}).done(function(data, textStatus, jqXHR) {
			    console.log(result.data);
			}).fail(function(jqXHR, textStatus, errorThrown){
			    console.log(result.data);
			})
        }
        // Instanciate the map
        mapChart=$('#container').highcharts('Map', {

            chart : {
                borderWidth : 1
            },

            title : {
                text : '{{title}}'
            },

            legend: {
                layout: 'horizontal',
                borderWidth: 0,
                backgroundColor: 'rgba(255,255,255,0.85)',
                floating: true,
                verticalAlign: 'top',
                y: 25
            },

            mapNavigation: {
                enabled: true
            },

            colorAxis: {
                min: 1,
                type: 'logarithmic',
                minColor: '#EEEEFF',
                maxColor: '#000022',
                stops: [
                    [0, '#EFEFFF'],
                    [0.67, '#4444FF'],
                    [1, '#000022']
                ]
            },

            series : [{
                animation: {
                    duration: 1000
                },
                data : data,
                cursor: 'pointer',
                allowPointSelect: true,
                mapData: Highcharts.maps['countries/us/us-all'],
                joinBy: ['postal-code', 'code'],
                dataLabels: {
                    enabled: true,
                    color: 'white',
                    format: '{point.code}'
                },
                select: {
                        color: '#EFFFEF',
                        borderColor: 'black',
                        dashStyle: 'dot'
                },
                name: '{{title}}',
                tooltip: {
                    pointFormat: '{point.code}: {point.value}%'
                },
                point: {
                    events: {
                        click: function () {
                            // getStateData(this.code);
                            Dajaxice.unemployment.timeseries(function(message){
                            	if (message.status=='OK'){
                            		showTimeSeries(message.data,message.state)
                            	}else{
                            		console.log('Error')
                            	}
                            },{'state_code': this.code});
                        }
                    }
                }
            }]
        });

});
</script>
{% endblock %}