{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="text-center">Clustering</h1>
    <div class="col-md-6 col-md-offset-3 well" style="margin-top:20px; padding-top:20px;">
        Filtering options:
        {% crispy form %}
    </div>
    <div class="col-md-6 col-md-offset-3" id="graph_div" style="margin-top:50px;"></div>
    <div class="col-md-6 col-md-offset-3" id="error_div" style="margin-top:50px;"></div>

{% endblock %}

{% block js_extra %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    $('#graph_div').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% if title %}{{title}}{% else %}Clustering{% endif %}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% if x_axis_name %}{{x_axis_name}}{% else %}x{% endif %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
         yAxis: {
            title: {
                text: '{% if y_axis_name %}{{y_axis_name}}{% else %}y{% endif %}'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b style="color:blue">({series.name})</b><br>',
                    pointFormat: '<span style="color:red">{point.year} </span>(x:{point.x}, y:{point.y})'
                }
            }
        }

        {% if data %}
        ,series: [
            {% for row in data %}
            {% ifchanged row.state_name %}
                {% if forloop.first %}
                {% else %}
                    ]},
                {% endif%}
                {
                 name:'{{row.state_code}}',
                 data:[{x:{{row.unemployment|floatformat:3}},y:{{row.variable|floatformat:3}},year:{{row.year}}}
            {% else %}
                ,{x:{{row.unemployment|floatformat:3}},y:{{row.variable|floatformat:3}},year:{{row.year}}}
            {% endifchanged %}
            {% endfor%}
                ]}
        ]
        {% endif %}
    });
});

/**
 * A small plugin for getting the CSV of a rendered chart
 */
/*global Highcharts, document */
(function (Highcharts) {

    'use strict';

    var each = Highcharts.each,
        downloadAttrSupported = document.createElement('a').download !== undefined;


    /**
     * Get the data rows as a two dimensional array
     */
    Highcharts.Chart.prototype.getDataRows = function () {
        var csv,
            options = (this.options.exporting || {}).csv || {},
            xAxis = this.xAxis[0],
            rows = {},
            rowArr = [],
            dataRows,
            names = [],
            i,
            x,

            // Options
            dateFormat = options.dateFormat || '%Y-%m-%d %H:%M:%S';

        // Loop the series and index values
        i = 0;
        each(this.series, function (series) {
            if (series.options.includeInCSVExport !== false) {
                names.push(series.name);
                each(series.points, function (point) {
                    if (!rows[point.x]) {
                        rows[point.x] = [];
                    }
                    rows[point.x].x = point.x;

                    // Pies, funnels etc. use point name in X row
                    if (!series.xAxis) {
                        rows[point.x].name = point.name;
                    }

                    rows[point.x][i] = point.y;
                });
                i += 1;
            }
        });

        // Make a sortable array
        for (x in rows) {
            if (rows.hasOwnProperty(x)) {
                rowArr.push(rows[x]);
            }
        }
        // Sort it by X values
        rowArr.sort(function (a, b) {
            return a.x - b.x;
        });

        // Add header row
        dataRows = [[xAxis.isDatetimeAxis ? 'DateTime' : 'Category'].concat(names)];

        // Transform the rows to CSV
        each(rowArr, function (row, i) {

            // Add the X/date/category
            row.unshift(row.name || (xAxis.isDatetimeAxis ? Highcharts.dateFormat(dateFormat, row.x) : xAxis.categories ? Highcharts.pick(xAxis.categories[row.x], row.x) : row.x));
            dataRows.push(row);
        });

        return dataRows;
    };

   </script>
{% endblock %}