{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
    .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
    }
    .panel-heading a.collapsed:after {
        content:"\e080";
    }
</style>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/data_mining">Data Mining</a></li>
      <li class="active">clustering {{variable}}</li>
    </ol>

    <h1 class="text-center">Clustering</h1>
    <div class="col-md-6 col-md-offset-3" style="margin-top:20px; padding-top:20px;">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#collapseForm" 
                   href="#collapseForm">
                  Filtering options
                  </a>
            </div>
            <div id="collapseForm" class="panel-collapse collapse {% if not data %}in{% endif %}">
            {% crispy form %}
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-12 text-center"><h2>Results: <small>(Static images will be available for 5 minutes)</small></h2></div>
    <div class="col-md-12">
        <div class="col-md-4 col-sm-12" id="graph_div"></div>
        
        {% if clustering_img %}<div class="col-md-4 col-sm-12"><img class="img-responsive" src="{{clustering_img}}" alt="Clustering results"></div>{% endif %}
        {% if coclustering_img %}<div class="col-md-4 col-sm-12"><img class="img-responsive" src="{{coclustering_img}}" alt="Clustering results"></div>{% endif %}
    </div>
    {% if cluster_year_freq %}
    <div class="col-md-12 text-center"><h2>Cluster details:</h2></div>
   <div role="tabpanel col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#summary" aria-controls="home" role="tab" data-toggle="tab">Summary</a></li>
        {% for key,cluster in cluster_year_freq.items %}
            <li role="presentation" class=""><a href="#cluster{{key}}" aria-controls="home" role="tab" data-toggle="tab">Cluster{{key}}</a></li>
        {% endfor %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="summary">
                <div id="cluster_summary_graph"></div>
            </div>
        {% for key,cluster in cluster_year_freq.items %}
            <div role="tabpanel" class="tab-pane" id="cluster{{key}}">
            <h4>Cluster #{{cluster.id}} ({{cluster.color}})</h4>
                <div class="col-md-3 col-sm-4" id=-"table-cont">
                    <table class="table table-striped">
                      <tr>
                        <th>Year</td>
                        <th>Counts</td>
                      </tr>
                      {% for year in cluster.years %}
                      <tr>
                        <td>{{year.0}}</td>
                        <td>{{year.1}}</td> 
                      </tr>
                      {% endfor %}
                    </table>  
                </div>
            </div>  
        {% endfor %}

    </div>

    {% endif %}





{% endblock %}

{% block js_extra %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
$(function () {
    $('#graph_div').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% if title %}{{title}}{% else %}Clustering{% endif %}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% if x_axis_name %}{{x_axis_name}}{% else %}x{% endif %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
         yAxis: {
            title: {
                text: '{% if y_axis_name %}{{y_axis_name}}{% else %}y{% endif %}'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b style="color:blue">({series.name})</b><br>',
                    pointFormat: '<span style="color:red">{point.year} </span>(x:{point.x}, y:{point.y})'
                }
            }
        }

        {% if data %}
        ,series: [
            {% for row in data %}
            {% ifchanged row.state_name %}
                {% if forloop.first %}
                {% else %}
                    ]},
                {% endif%}
                {
                 name:'{{row.state_code}}',
                 data:[{x:{{row.unemployment|floatformat:3}},y:{{row.variable|floatformat:3}},year:{{row.year}}}
            {% else %}
                ,{x:{{row.unemployment|floatformat:3}},y:{{row.variable|floatformat:3}},year:{{row.year}}}
            {% endifchanged %}
            {% endfor%}
                ]}
        ]
        {% endif %}
    });
});
$(function () {
    var years=[
         {% for year in years %}
            {{year}},
         {% endfor%}
    ]
    var clusterData=[
    {% for cluster,years_cluster in cluster_year_freq2.items %}
        {name:"Cluster {{cluster}}",
         data:[
        {% for value in years_cluster%}
            {{value}},
        {% endfor %}
        ]},
    {%endfor%}
    ]
    $('#cluster_summary_graph').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Stacked year in cluster'
        },
        xAxis: {
            categories: years
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total fruit consumption'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: clusterData
    });
    // var generateBarChart(id,data){
    //     var container = ('#'+id);
    //     container.highcharts
    // }
});
   </script>
{% endblock %}