{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
    h3 {
        color:orange;
        font-weight: bold;
    }
</style>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Data Mining</li>
</ol>
<div class="col-lg-4 col-md-6 col-sm-12">
    <h1 class="text-center"><i class="fa fa-line-chart"></i> Clustering </h1>
    <h3> <strong> Natality</strong> (Using yearly values)</h3>
    <div class="list-group">
        <a class="list-group-item" href="/data_mining/clustering/unemployment_vs_births " >
            <h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong>Number of Births </strong> in the US (by state, yearly)</h4>
            <p class="list-group-item-text">See how unemployment affects the number of births in many states and view the clustering results! You will see that the year where the number of births reduce, the unemployment is at its highest rate </p>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="/data_mining/clustering/unemployment_vs_fertility_rate " >
            <h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Fertility rate </strong> in the US (by state, monthly)</h4>
            <p class="list-group-item-text">See how unemployment affects fertility in many states and view the clustering results! You will see that the year where the number of births reduce, the unemployment is at its highest rate </p>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="/data_mining/clustering/unemployment_vs_birth_rate " >
            <h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Birth rate </strong> in the US (by state, monthly)</h4>
            <p class="list-group-item-text">See how unemployment affects birth rate in many states and view the clustering results! You will see that the year where the number of births reduce, the unemployment is at its highest rate </p>
        </a>
    </div>
    <h3> <strong> Mortality</strong> (Using yearly values)</h3>
    <div class="list-group">
        <a class="list-group-item" href="/data_mining/clustering/unemployment_vs_deaths " >
            <h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Number of Deaths </strong> in the US (by state, monthly)</h4>
            <p class="list-group-item-text">See how unemployment affects the number of deaths in many states and view the clustering results! You will see that the year where the number of births reduce, the unemployment is at its highest rate </p>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="/data_mining/clustering/unemployment_vs_crude_rate " >
            <h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Crude rate </strong> in the US (by state, monthly)</h4>
            <p class="list-group-item-text">See how unemployment affects crude rate in many states and view the clustering results! You will see that the year where the number of births reduce, the unemployment is at its highest rate </p>
        </a>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
    <h1 class="text-center"><i class="fa fa-random"></i> Association Rule </h1>
	<h3>Using yearly rates</h3>
	<div class="list-group">
		<a class="list-group-item" href="/data_mining/association/natality">
			<h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Birth Rate</strong> in the US (by state, yearly)</h4>
			<p class="list-group-item-text">See how unemployment affects the birth rate in many states via statistical association analysis!</p> 
		</a>
	</div>
	<div class="list-group">
		<a class="list-group-item" href="/data_mining/association/mortality">
			<h4 class="list-group-item-heading"><strong>Unemployment</strong> vs <strong> Death Rate</strong> in the US (by state, yearly)</h4>
			<p class="list-group-item-text">See how unemployment affects the death rate in many states via statistical association analysis!</p> 
		</a>
	</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12">
    <h1 class="text-center"><i class="fa fa-binoculars"></i> Outlier detection </h1>
    <h3>Using Crisis years</h3>
    <div clas="list-group">
        <a class="list-group-item" href="/data_mining/outliers">
            <h4 class="list-group-item-heading">
            Outlier map in each <strong>Crisis</strong> year
            </h4>
            <p class="list-group-item-text">See which states'
            unemployment was unaffected by a year of national crisis!</p> 
        </a>
    </div>
</div>
{% endblock %}

{% block js_extra %}
{% endblock %}